.amazon {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  line-height: 0;
}
/* box */
.amazon .itemBox {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, auto);
  grid-template-rows: minmax(100px, 150px) minmax(1rem, 50px);
  padding: 2em 0;
  color: inherit;
  text-decoration: none;
}
/* image */
.amazon .itemImage {
  position: relative;
  grid-column: 1/2;
  grid-row: 1 / span 2;
}
.amazon .itemImage img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.amazon .itemImage img:hover {
  opacity: 0.8;
}
/* name */
.amazon .itemName {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0 1em;
}
.amazon .itemName a {
  display: block;
  height: 100%;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  text-decoration: none;
}
.amazon .itemName a:hover {
  text-decoration: underline;
}
/* brand */
.amazon .shopBrand {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0 1em;
}
.amazon .shopBrand a {
  padding: 0.3em 0.8em;
  color: white;
  text-decoration: none;
  background: #e47911;
}
.amazon .shopBrand a:hover {
  opacity: 0.8;
}
